<!DOCTYPE html>

{% extends 'plotter/core.html' %}
{% load staticfiles %}
{% block title %}Employed list{% endblock %}
{% block body_block %}
	<h3>List of employed participants</h3></br>
	<table>
		<th></th><th>Name</th><th>Institution</th><th>Course</th><th>Employment details</th><th>Remarks</th><th>Timestamp</th>
		{% for p in participants %}
		<tr{% if forloop.counter|divisibleby:2 %} class="alt"{% endif %}><td>{{ forloop.counter }}</td><td><a href="../master/participant/{{ p.participant_id }}">{{ p.sname }}, {{ p.fname }}</a></td><td>{{ p.designation }}</td><td><a href="../master/institution/{{ p.instn_id }}">{{ p.instn }}</a></td><td>{% if restricted %}**confidential**{% else %}{{ p.workdetails }}{% endif %}</td><td>{% if restricted %}**confidential**{% else %}{{ p.remarks }}{% endif %}</td><td>{{ p.modified }}</td></tr>
		{% endfor %}
	</table>
{% endblock %}
