<!DOCTYPE html>

{% extends 'plotter/core.html' %}
{% load staticfiles %}
{% block title %}Institution page{% endblock %}
{% block script_block %}
	<script type="text/javascript" charset="utf-8">
		{% if results.0 %}
			document.title = "{{ results.0.fullname }} | Philippine Institute for Integrated Circuits";
		{% endif %}
		var monthtext=['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
		function members(instn_id){
			$.ajax({
				url: '../members/' + instn_id + '/',
				data: instn_id,
				success: function(data){
					var table = document.getElementById("t_"+String(instn_id));
					$("#t_"+String(instn_id)).empty();
					$("#t_"+String(instn_id)).html("<th>Name</th><th>Designation</th><th>E-mail</th><th>Contact number</th><th>Trainings</th>");
					var index = 0;
					var prevname;
					data.forEach(function(obj) {
						var name = obj.sname + ', ' + obj.fname
						var date = obj.date.toString()
						var row = document.createElement('tr');
						if (index%2) row.className = 'alt';
						{% if restricted %}
							row.innerHTML = '<td><a href="../../participant/'+ obj.ppant_id +'">' + name + '</a></td><td>' + obj.designation + '</td><td>**confidential**</td><td>**confidential**</td><td id="td_' + String(instn_id) + '_' + String(index) + '"><a href="../../training/' + obj.training_id + '">' + obj.topic + ' ' + date.substring(0,4) + '/' + date.substring(4,6) + '/' + date.substring(6) + '</a></td>';
						{% else %}
							row.innerHTML = '<td><a href="../../participant/'+ obj.ppant_id +'">' + name + '</a></td><td>' + obj.designation + '</td><td>' + obj.email + '</td><td>' + obj.contactn + '</td><td id="td_' + String(instn_id) + '_' + String(index) + '"><a href="../../training/' + obj.training_id + '">' + obj.topic + ' ' + date.substring(0,4) + '/' + date.substring(4,6) + '/' + date.substring(6) + '</a></td>';
						{% endif %}
						if (prevname != name){
							table.appendChild(row);
							index++;
						}
						else {
							modcell = document.getElementById("td_"+String(instn_id)+"_"+String(index-1));
							modcell.innerHTML = modcell.innerHTML + ', <a href="../../training/' + obj.training_id + '">' + obj.topic + ' ' + date.substring(0,4) + '/' + date.substring(4,6) + '/' + date.substring(6) + '</a>';
						}
						prevname = name;
					});
				}
			});
		};
	</script>
{% endblock %}
{% block body_block %}
	<p><b>General information</b></p>
		{% if results %}
			<p>Abbreviation: {{ results.0.abbrev }}</p>
			<p>Full name: {{ results.0.fullname }}</p>
			<p>{% if results.0.email %}Email: {{ results.0.email }}{% endif %}</p>
			<p>{% if results.0.address %}Address: {{ results.0.address }}{% if results.0.city %}, {{ results.0.city }}{% if results.0.province %}, {{ results.0.province }}{% endif %}{% endif %}{% endif %}</p>
			<p>{% if results.0.topic %}Modules participated: {% for r in results %}<a href="../../module/{{ r.mod_id }}">{{ r.topic }} v{{ r.version }}</a> {% endfor %}{% endif %}</p></br>
			<div id="g_{{ results.0.id }}"><p><b>Members</b></p><center><table id="t_{{ results.0.id }}"></table></center</div>
		{% endif %}
	</div>
{% endblock %}
{% block body_script %}
	<script>
		$('#database').addClass('active');
		{% if results %}
			members({{ results.0.id }});
		{% endif %}
	</script>
{% endblock %}
